<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mgx.retrofitlesson1">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.ObjectTran"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_serialize_parcel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.mgx.retrofitlesson1.activity.SlidingActivity"></activity>
        <activity
            android:name=".activity.DormActivity"
            android:label="HSProject">
        </activity>
        <activity
            android:name=".activity.ChooseAreaActivity"
            android:label="Choose Area"/>
        <activity android:name=".activity.BannerActivity"></activity>
        <activity android:name=".activity.LaunchModeActivity"></activity>
        <activity
            android:name=".activity.SensorActivity"
            android:label="@string/activity_sensor"></activity>
        <activity
            android:name=".activity.VoiceRecognizerActivity"
            android:label="语音识别"></activity>
        <activity
            android:name=".activity.SecondActivity"
            android:label="Second Activity"
            android:launchMode="singleTask"
            android:process=":remote"
            android:taskAffinity="@string/activity_taskaffinity"></activity>
        <activity
            android:name=".activity.ThirdActivity"
            android:label="Third Activity"
            android:launchMode="singleTask"
            android:process="com.mgx.retrofitlesson1.remote"
            android:taskAffinity="@string/activity_taskaffinity"></activity>
        <activity android:name=".activity.ShareActivity">
            <intent-filter>
                <action android:name="com.mgx.abcd.a"/>

                <category android:name="com.mgx.abcd.b"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="45.78.55.42"
                    android:mimeType="image/*"
                    android:port="80"
                    android:scheme="http"/>
                <data
                    android:host="45.78.55.42"
                    android:mimeType="text/plain"
                    android:port="80"
                    android:scheme="http"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.ObjectSerializable"></activity>
        <activity android:name=".activity.ObjectParcelable"></activity>
    </application>

</manifest>